.tasks {
  background-color: white;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__tasks {
    width: 80%;
    margin-bottom: 2rem;
  }
}
