.tasks {
  background-color: white;
  height: 100dvh;
  display: grid;
  grid-template-rows: min-content 1fr;

  &__add-tasks {
    width: 100%;
    padding: 1rem 0 1rem 0;
  }

  &__tasks {
    max-height: 40vh;
    height: 100%;
    width: 100%;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &__content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
