.tasks {
  background-color: white;
  height: 100dvh;
  display: grid;
  grid-template-rows: min-content 1fr;

  &__add-tasks {
    width: 80%;
  }

  &__tasks {
    width: 60%;
    max-height: 60vh;
  }

  &__content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
