.tile {
  background-color: #f6f3fa;
  color: #1b1b1b;
  padding: 0.8rem;
  width: 100%;
  max-width: 30rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: 0.1rem solid rgba(182, 182, 182, 0.439);
  transition: transform ease-in-out 0.3s, outline ease-in-out 0.3s;

  &__input {
    width: 100%;
    font-size: 1rem;
    padding: 0.3rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
    outline: none;
  }
  
  &__edit-icon {
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  &:hover {
    outline: #9a73d3 0.1rem solid;
    transform: scale(1.02);
  }
  &__title {
    font-size: 0.8125rem;
    font-weight: 500;
  }

  &__subtitle {
    font-size: 0.8125rem;
    opacity: 0.6;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }

  &__button-not-completed {
    filter: drop-shadow(0px 2px 4px #797979);
    transition: transform 0.3s, fill 0.3s;
  }
  &__button-not-completed:hover {
    fill: #c7c7c7;
  }
  &__button-not-completed:active {
    fill: #622ab1;
    transform: scale(1.6);
  }

  &--completed {
    background-color: #502f7e;
    color: #fff;
    transition: opacity, 0.3s ease-in-out;
  }
  &--completed:hover {
    opacity: 1;
  }

  &--passed {
    opacity: 0.6;
  }

  &__button-completed {
    filter: drop-shadow(0px 2px 4px #c5c5c5);
    transition: transform 0.3s, fill 0.3s;
  }
  &__button-completed:hover {
    fill: #622ab1;
  }
  &__button-completed:active {
    fill: #622ab1;
    transform: scale(1.6);
  }

  &__button-remove {
    filter: drop-shadow(0px 2px 4px #c5c5c5);
    transition: transform 0.3s, fill 0.3s;
  }
  &__button-remove:hover {
    fill: #dd2110;
  }
  &__button-remove:active {
    fill: #dd2110;
    transform: scale(1.6);
  }
}
