.add-tasks {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__date-time {
    flex-direction: row;
    display: flex;
    gap: 1rem;
  }

  &__input {
    color: #707070;
    padding: 0.6rem;
    border-radius: 0.8rem;
    background: #f6f3fa;
    transition: 0.3s ease-in-out;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.1rem solid #d4d4d4;
    font-family: "Montserrat", sans-serif;
    outline: 0.1rem solid transparent;
    font-size: 1rem;
    height: 2.6rem;
  }

  &__input-date-time {
    width: 10rem;
  }

  @media (max-width: 768px) {
    @supports (-webkit-overflow-scrolling: touch) {
      &__input[type="date"]::before {
        color: #707070;
        content: attr(placeholder);
      }
      &__input[type="date"]::after {
        color: #ccc;
        content: "" !important;
      }
    }
  }

  &__input:hover {
    outline: #a98ed1 0.1rem solid;
  }

  &__input:focus {
    outline: #a98ed1 0.1rem solid;
    background: #f6f3fa;
    transition: 0.3s ease-in-out;
    box-shadow: 5px 4px 13px 0px #c5c5c5, -5px -5px 20px #ffffff;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__add {
    filter: drop-shadow(0px 2px 4px #c5c5c5);
    transition: transform 0.3s, fill 0.3s ease-in-out;
  }

  &__add:hover {
    fill: #622ab1;
  }
  &__add:active {
    fill: #622ab1;
    transform: scale(1.6);
  }
}
