.add-tasks {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  &__input {
    padding: 0.8rem;
    border: none;
    background-color: none;
    border-bottom: 0.1rem solid #cccccc;
    outline: none;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
  }
}
