.signup {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__icon {
    background-color: #502f7e;
    width: max-content;
    height: max-content;
    border-radius: 4rem;
    padding: 1rem;
  }

  &__form {
    width: 80%;
    margin-bottom: 2rem;
  }
}
