.dashboard {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0 1rem 0 1rem;
  }

  &__avatar {
    border: 2px solid white;
    background-color: #502f7e;
    border-radius: 50%;
  }

  &__hello {
    font-size: 1rem;
  }

  &__username {
    font-size: 1.25rem;

  }

  &__tasks {
    width: 100%;
    margin-bottom: 2rem;
  }
}
